<div class="dialog">
  <h2 mat-dialog-title>Update ToDo?</h2>
  <mat-dialog-content>
    <div class="edit-todo">
      <form [formGroup]="todoForm" class="form" #formDirective="ngForm" appOutsideClick (outsideClick)="stopEditing()">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input aria-label="Add todo" type="text" id="inputElement" formControlName="name" matInput>
          <mat-error *ngIf="name.hasError('minlength') && !name.hasError('required')">
            Please enter a valid name, minimum {{ name.getError('minlength')?.requiredLength }} characters
          </mat-error>
          <mat-error *ngIf="name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Discard</button>
    <button mat-button mat-dialog-close cdkFocusInitial color="primary" type="submit" [disabled]="!todoForm.valid" (click)="edit()">Update</button>
  </mat-dialog-actions>
</div>