<form [formGroup]="todoForm" class="example-form" (ngSubmit)="create()" #formDirective="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input type="text" id="inputElement" formControlName="name" matInput placeholder="ToDo Name" >
    <mat-error *ngIf="name.hasError('minlength') && !name.hasError('required')">
      Please enter a valid name, minimum {{ name.getError('minlength')?.requiredLength }} characters
    </mat-error>
    <mat-error *ngIf="name.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!todoForm.valid">Create One</button>
</form>`
